@import '../../constants';

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.grid-item {
    border-radius: 5px;
    font-size: 150%;
    padding: 20px;
}

.gauge-title {
    color: $title-color;
    font: 20px Courier;
    margin-top: -10px;
    text-align: center;
}
